# Vivado / xsim simulation artifacts
xsim.dir/
.Xil/
*.jou
*.log
*.pb
*.wdb
*.vcd
*.str
webtalk*.xml
webtalk*.html
xvlog.pb
xelab.pb
xsim.log
xvlog.log
xelab.log
xsim*.backup.jou
xsim*.backup.log
dfx_runtime.txt

# OS / editor cruft
Thumbs.db
.DS_Store
*.swp
